<!DOCTYPE html>
<html>
  <head>
    <title>RentAway - Rent Your Favorite Manga Today!</title>
  </head>
  <body>
    <header>
  
    </header>
    <main>
      <h1>About Us</h1>
      <p>RentAway is a manga rental website that allows you to rent your favorite manga series for a fraction of the cost of purchasing them. Our goal is to make manga more accessible to everyone and to provide a convenient and affordable way to read the latest titles.
        Our team is made up of passionate manga enthusiasts who are dedicated to delivering the best possible service to our customers. We work hard to ensure that our library is up-to-date with the latest releases, and that our rental process is quick and easy.</p>
        <p>
Whether you're a long-time manga fan or a newcomer to the world of Japanese comics, RentManga has something for everyone. With our flexible rental plans and affordable pricing, you can enjoy all your favorite manga titles without breaking the bank.

Thank you for choosing RentAway. We look forward to helping you discover your next favorite manga series!
      </p>
    </main>
  </body>
</html>
